.cloud {
  background-image: url("assets/clouds.webp");
}
.rain {
  background-image: url("assets/rain.webp");
  
}
.snow {
  background-image: url("assets/snow.webp");
}
.sun {
  background-image: url("assets/sun.webp");
}

.App {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-icon {
  max-width: 80%;
  height: auto;
}
.card-font{
  font-family: 'Marcellus', serif
}

